.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);

    :global .dark-theme :local & {
      border-color: var(--dark-border-color);
    }
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 8px;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

.meta {
  font-size: 1rem;
  margin-bottom: 30px;
}

.tags {
  margin-top: 10px;
  opacity: .5;
}

.tag {
  display: inline-block;
  margin-right: 10px;
}

.readMore {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1rem;
}

.postContent {
  position: relative;
}

.full-image-right {
  width: 300px;
  font-size: 80%;
  text-align: center;
  float: right;
  margin: 10px;

  @media only screen and (max-width: 641px) {
    float: none;
    width: 90%;
    height: 90%;
  }
}

.full-image-left {
  width: 300px;
  font-size: 80%;
  text-align: center;
  float: left;
  margin: 10px;

  @media only screen and (max-width: 641px) {
    float: none;
    width: 90%;
    height: 90%;
  }
}

.half-image-right {
  width: 150px;
  font-size: 80%;
  text-align: center;
  float: right;
  margin: 15px;

  @media only screen and (max-width: 641px) {
    float: none;
    width: 45%;
    height: 45%;
  }
}

.half-image-left {
  width: 150px;
  font-size: 80%;
  text-align: center;
  float: left;
  margin: 15px;

  @media only screen and (max-width: 641px) {
    float: left;
    width: 45%;
    height: 45%;
  }
}


img {
  padding: 1px;
}
